#form-to-update{
    min-height: 600px;
    width: 50%;
    margin: 0 auto;
    background-color: cornflowerblue;
    color: white;
    padding:1rem;
}
.heading{
    margin: 1rem; 
    text-align: center;
}
label{
    margin-top: 10px;
    padding:10px;
}
button{
    margin: 1rem;
    min-width: 20rem;
}